.row
  .col-md-2.text-right
    .label.label-primary= address.label
  .col-md-6
    %address
      %span#street= address.street
      %span#apt=    "Apt. #{address.apartment}"
      %br
      %span#city    "#{address.city},"
      %span#state=  address.state
      %span#zip=    address.zip
