%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{:type=>'button', :data => {:toggle => 'collapse', :target => '.navbar-collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to title, "#{config[:baseurl]}/", class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to 'Summary', "#{config[:baseurl]}/index.html"
        %li= link_to 'Skills',  "#{config[:baseurl]}/skills.html"
        %li= link_to 'Education', "#{config[:baseurl]}/education.html"
        %li= link_to 'Experience', "#{config[:baseurl]}/experience.html"
        %li= link_to 'Contacts', "#{config[:baseurl]}/contacts.html"
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "#{config[:baseurl]}/resume.pdf", title: "Printable version of resume in PDF" do
            %i.glyphicon.glyphicon-print
            PDF
        %li
          = link_to "#{config[:baseurl]}/resume.rtf", title: "Editable in dumb word processors" do
            %i.glyphicon.glyphicon-save
            DOC
